.footer {
  position: relative;
  width: 100%;
  background: #f2f2f2;
  border-top: 1px solid #e4e4e4;
  height: 41px;
  margin-top: -41px;
  box-sizing: border-box;

  .l-left, .l-right {
    height: 100%;
    width: 50%;
  }

  .l-left {
    float: left;
  }

  .l-right {
    float: right;
  }

  &__menu {
    height: 100%;
  }

  &__menu-list {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;
    list-style: none;

    @include clearfix();
  }

  &__menu-item {
    height: 100%;
    display: inline-block;
    box-sizing: border-box;
    padding-left: 27px;
    line-height: 42px;

    a {
      display: block;
      color: #666;
      text-decoration: none;
      font-size: small;
      height: 100%;

      &:hover {
        text-decoration: underline;
      }

      &:visited {
        color: #609;
      }
    }
  }

  &__menu--right {
    .footer__menu-list {
      text-align: right;
    }

    .footer__menu-item {
      padding-left: 0;
      padding-right: 27px;
    }
  }

}