.header {
  position: absolute;
  top: 15px;
  right: 30px;

  &__menu-list {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 30px;
    line-height: 30px;
  }

  &__menu-item {
    display: inline-block;

    > a {
      display: block;
      color: #666;
      text-decoration: none;
      font-size: small;
      height: 100%;
      padding-left: 15px;

      &:hover {
        text-decoration: underline;
      }

      &:visited {
        color: #609;
      }
    }

  }


}
